/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --text-color-dark: #000;
  --text-color-light: #fff;
  --bg-color-light: #f5f5f5;
  --bg-color-dark: #23272a;
  --font-weight-small: 400;
  --font-size-small: 16px;
  --font-weight-big: 700;
  --font-size-big: 34px;
}


/* Overall Styling */

* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

body {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
  font-family: 'Ubuntu', sans-serif;
  font-weight: var(--font-weight-small);
  font-size: var(--font-size-small);
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-big);
}

hr {
  width: 20%;
  background-color: #0047aa;
  height: 3px;
}

.btn__dark {
  display: inline-block;
  padding: .5em 2.5em;
  margin: 1em;
  background: var(--bg-color-dark);
  color: var(--bg-color-light);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-weight-big);
  transition: transform 200ms ease-in-out;
  border: none;
}

.btn__dark:hover {
  transform: scale(1.1);
}

.btn__light {
  display: inline-block;
  padding: .5em 2.5em;
  margin: 1em;
  background: var(--bg-color-light);
  color: var(--bg-color-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-weight-big);
  transition: transform 200ms ease-in-out;
  border: none;
}

.btn__light:hover {
  transform: scale(1.1);
}


/* Header Section */

header{
  height: 50px;
  width: 100%;
  z-index: 2;
  background: var(--bg-color-dark);
  position: relative;
}

.menulist {
  float: right;
  list-style: none;
  margin-right: 10px;
  position: relative;
  display: flex;
}

.menulist li{
  font-size: 22px;
  font-weight: bold;
  position: relative;
  margin: 10px;
}

.menulist li a{
  text-decoration: none;
  color: var(--text-color-light);
}

.check {
  right: 0;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 3px 20px 0px 0px;
  z-index: 3;
  opacity: 0;
}

.ham-menu {
  float: right;
  height: 40px;
  width: 40px;
  margin: 5px 20px 0px 0px;
  position: relative;
  display: none;
  border: 2px solid var(--text-color-light);
}

.menuline {
  background: var(--text-color-light);
  height: 2px;
  width: 25px;
  position: relative;
  margin: auto;
  display: flex;
  top: 50%;
}

.menuline::before {
  content:'';
  position: absolute;
  background: var(--text-color-light);
  height: 2px;
  width: 25px;
  top: -8px;
}

.menuline::after {
  content:'';
  position: absolute;
  background: var(--text-color-light);
  height: 2px;
  width: 25px;
  top: 8px;
}

.content-area {
  height: 1000px;
  width: 100%;
  text-align: center;
}

.content{
  height: 500px;
  transform: translateY(50%);
  font-size: 30px;
}


/* Profile Section */

.profile {
  background-image: url(../img/profile-bg.jpg);
  background-size: cover;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profile__container {
  height: 300px;
  width: 400px;
  background-color: var(--text-color-light);
  position: relative;
  top: 90px;
  margin: 0 auto;
  box-shadow: 10px 10px 30px;
}

.profile__top-wrapper {
  position: relative;
  top: 50px;
}

.profile__typing-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 70px;
}

.profile__input-cursor {
  display: inline-block;
  position: relative;
  top: 8px;
  width: 2px;
  height: 40px;
  background-color: var(--text-color-dark);
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;
}

.profile__sentence {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-big);
}


/* Work Section */

.projects {
  text-align: center;
  padding: 10px;
  color: var(--text-color-light);
  background: var(--bg-color-dark);
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 10px;
}

.grid__item {
  color: var(--text-color-light);
  padding: 10px;
  width: 70%;
  min-height: auto;
  margin: 0 auto;
}

.grid__item h2 {
  margin-bottom: 10px;
}

.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__text {
  text-align: center;
  margin: auto 0;
}

.project__img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.project__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* About Section */

.about {
  background-color: var(--bg-color-light);
  padding-top: 10px;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
}

.about__text {
  width: 600px;
  margin: 10px;
  position: relative;
}

.about__img {
  width: 300px;
  height: auto;
  position: relative;
  bottom: 25px;
  margin: 10px;
}


/* Contact Section */

.contact {
  padding-top: 10px;
  color: var(--text-color-light);
  background: var(--bg-color-dark);
}

.social-media__icon {
  height: 50px;
  width: auto;
  margin: 10px;
  padding-bottom: 10px;
}

.bottom-text {
  font-size: 14px;
}

/* Animations */

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}


/* Media Query's */

@media only screen and (max-width:680px) {

  /* Header Query's */
  header{
    position: fixed;
  }
  .menulist {
    position:fixed;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    background: var(--bg-color-dark);
    top: 70px;
    padding-top: 50px;
    text-align: center;
    transition: 0.5s;
    right: -100%;
  }
  .ham-menu{
    display: block;
  }
  .menulist {
    display: block;
    margin-right: 0px;
  }
  .menulist li a{
    font-size: 22px;
    text-align: center;
  }
  .check:checked ~ .menulist{
    right: 0;
  }
  .check:checked ~ .ham-menu .menuline{
    transform: rotate(135deg);
    transition: 0.3s ease;
  }
  .check:checked ~ .ham-menu .menuline::before,.check:checked ~ .ham-menu .menuline::after{
    top: 0;
    transform: rotate(90deg);
  }

  /* Project Section Query's */
  .grid__item {
    width: 95%;
  }
  .project__img {
    width: 200px;
  }
  .project__buttons {
    flex-direction: column;
  }
  h2 {
    font-size: 28px;
  }

  /* About Section Query's */
  .about {
    height: 850px;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__text {
    margin: 0 auto;
    width: 300px;
    left: 0px;
  }
  .about__img {
    margin: 0 auto;
    bottom: -10px;
    right: 0px;
    width: 250px;
  }
}